<!DOCTYPE html>
<html>
<head>
    <title>Card Info</title>
</head>
<body>
    <div class="card mb-3">
        <h3 class="card-header">Cards Info</h3>
        <div class="card-body">
            <h5 class="card-title">Choose a card for more details</h5>
        </div>

        <section class="card-site-style card-img card-styles">
            <a href="#"><img src="~/Image/blackcard.png" alt="BlackCard image"></a>
            <a href="#"><img src="~/Image/palinumcard.png" alt="PlatinumCard image"></a>
            <a href="#"><img src="~/Image/prepaidcard.png" alt="PrepaidCard image"></a>
            <a href="#"><img src="~/Image/standardcard.png" alt="StandardCard image"></a>
            <a href="#"><img src="~/Image/titaniumcard.png" alt="TitaniumCard image" /></a>
        </section>

        @*<div class="card-body">
            <p class="card-text"></p>
        </div>*@

       @*Credit card Info*@
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Issuing network: Master Card
            </li>
            <li class="list-group-item">
                Card number:
                @Html.
            </li>
            <li class="list-group-item">
                Name:
                Ishaan Jackson
            </li>
            <li class="list-group-item">
                Adress:
                Essex Court 59
            </li>
            <li class="list-group-item">
                Country:
                Bahrain
            </li>
            <li class="list-group-item">
                CVV:
                386
            </li>
            <li class="list-group-item">
                Exp:
                05/2028
            </li>
        </ul>

        <div class="card-body">
            <a href="#" class="card-link">Return to Account</a>
        </div>
    </div>
</body>
</html>