body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    font-size: 30px
}

/*.navbar-inverse {
    background-color: #0768d0 !important;
}*/

/* Custom styles */

/* Links */

.link-grey {
    padding: .4rem .6rem;
    color: #8a8a8a;
    border: 1px solid transparent;
    border-radius: 7px;
    transition: all .3s;
}

    .link-grey:hover {
        color: #3e3e3e;
        border: 1px solid #3e3e3e;
        text-decoration: none;
    }

