body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #a799a0;*/
    background-color: #d4e0f5;
}
/*hide scrollbar*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    font-size: 30px;
  
}


/* Custom styles */
/* Links */
.link-grey {
    padding: .4rem .6rem;
    color: #8a8a8a;
    border: 1px solid transparent;
    border-radius: 7px;
    transition: all .3s;
}

    .link-grey:hover {
        color: #3e3e3e;
        border: 1px solid #3e3e3e;
        text-decoration: none;
    }
 




/* Bootstrap Jumbotron */
.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}
.jumbotron p {
    margin-top:30px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}



/* Bootstrap btn overrides */

.btn-primary {
    color: #ffffff;
    background-color: #772953;
    border-color: #772953;
    transition: all .2s;
}

    .btn-primary:hover {
        color: #ffffff;
        background-color: #b94282;
        border-color: #b94282;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

#customers td{
    text-align:center
}
#customers th {
    text-align: center
}
.green-ok{
    color: #0be41d;
}

.panel-group panel panel-default {
    padding-top: 50px;
}
/* Utilities */
.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-top-small {
    margin-top: 3rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

/*themis changes*/
.firstLabel {
    margin-right: 50px;
}
.secondLabel {
    margin-right: 50px;
}
/*format at savings bank accounts view*/
.indent-1 {
    float: left;
    background-color: #c1bebe
}

    .indent-1 section {
        width: 50%;
        float: left;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
    }

.indent-2 {
    float: left;
    background-color: #c1bebe;
    padding-left: 30px;
    padding-right: 30px;
}

/*edw gia dropdown navbar */

.panel-group .panel {
    margin-bottom: 40px;
    border-radius: 4px;
}

#heading {
    background-color: #772953;
    color: white;
}

.panel-body {
    background-color: #e8e6e6;
}
/*gia navbar mesa sto dropdown*/

.navbarmini ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 35px;
    width: 500px;
    overflow: hidden;
    background-color: #161928;
}

.navbarmini li {
    float: left;
}

    .navbarmini li a {
        display: block;
        color: #dd2929;
        text-align: center;
        padding: 7px 16px;
        text-decoration: none;
    }

        .navbarmini li a:hover {
            background-color: #111;
        }


 /*admin menu collapse*/
#admincollapseFathersName{
    padding-left: 50px;
}

#admincollapseDateCreated {
    padding-left: 50px;
}
/*maybe hor header*/

/*.navbar-inverse {
    margin-top:10%;
    background-color: #0768d0 !important;
}*/
/*.skata{
    position:fixed;
}*/

/*#main-header {
    background-color: #3e3e3e;
    height: 100px;
    margin-top: -50px;
    color: #fff;
}*/
/*#brandLogo{
    
    margin-left:30px;
    height: 50px;
    width: 100px;
    border:3px solid #e01111;
}
#heading-letters {
    margin-left: 200px;
    margin-top:-2%;
}*/