@model TSMbank.ViewModels.CheckingAccApplicationViewModel
@using TSMbank.Models;

@{
    ViewBag.Title = "CurrentAccount";
}

<div class="jumbotron u-margin-top-small">
    <h2>Checking Account</h2>
    <p>
        TSMbank's Cheking Account is a flexible banking tool that meets the needs of today’s customers,
        covering your everyday deposit account transaction needs.
    </p>
    <p>Click the button below to apply for a new checking account.</p>

    @if (Model.IndividualStatus == IndividualStatus.Active)
    {
        <p><input id="btn-apply" type="button" class="btn btn-primary" value="Show more" /></p>
    }
</div>

<div class="section-acctype">
    <h2>Choose account type</h2>
    <div class="acctype-container">
        <div class="acctype-form">
        </div>
        <div class="acctype-info">
        </div>
    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            let formContainer = $('.form-container');
            let accountTypes = [];

            $.ajax({
                url: '/api/bankaccounttypes?description=0',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    data.forEach(t => {
                        accountTypes.push(t);
                        accTypeForm.append($('<div>', { class: 'acctype-form__group' })
                            .append($('<div>', { class: 'acctype-form__radio-group' })
                                .append($('<input>', { type: 'radio', id: `acctype${t.id}-radio`, class: 'acctype-form__radio-input', name: 'AccTypeId', value: `${t.id}` })
                                    , $('<label>', { class: 'acctype-form__radio-label', for: `${t.summary}-radio` })
                                        .append($('<span/>', { class: 'acctype-form__radio-button' }), `${t.summary}`)
                                )
                            )

                        );

                        $('.acctype-info').append($('<div>', { class: 'acctype-details', id: `acctype${t.id}-details` })
                            .append($('<p>').text(`Interest rate: ${t.interestRate}%`),
                            $('<p>').text(`Periodic fee: ${t.periodicFee} (Eur)`)
                            )
                        )
                    });
                }
            });


            btnApply.on('click', function () {
                section.addClass('moveintop');
            });












            //let checkingGoldDetails = document.getElementById('Checking Basic-details');
            //checkingGoldDetails.classList.add('hide-custom');
        });
    </script>
}



