@{
    ViewBag.Title = "ViewHeatMap";
}

<h2>Currency Heat Map</h2>

<div class="form-group">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-heat-map.js" async>
            {
                "width": 1000,
                    "height": 490,
                        "currencies": [
                            "EUR",
                            "USD",
                            "JPY",
                            "GBP",
                            "CHF",
                            "AUD",
                            "CAD",
                            "NZD",
                            "CNY"
                        ],
                    
                    "locale": "en"
                    
            }
        </script>
    </div>
    <!-- TradingView Widget END -->
</div>