@model TSMbank.Models.BankAccount
<div class="navbarmini">
    <ul>
        <li>@Html.ActionLink("Money transfers", "TransferMoney", "Transactions", new { accountNumber = Model.AccountNumber }, null)</li>        
        <li>@Html.ActionLink("Change NickName", "Edit", "BankAccounts", new { accountNumber = Model.AccountNumber }, null)</li>
        <li>@Html.ActionLink("Transactions", "Index", "Transactions", new { AccountNumber = Model.AccountNumber }, null)</li>
        <li>@Html.ActionLink("Details", "Details", "BankAccounts", new { accountNumber = Model.AccountNumber }, null)</li>
    </ul>
</div>

