@model TSMbank.Models.BankAccount
<div class="navbarmini">
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">Change NickName</a></li>
        <li><a href="#contact">Transactions</a></li>
        <li>@Html.ActionLink("Details", "Details", "BankAccounts", new { accountNo = Model.AccountNumber }, null)</li>
    </ul>
</div>

